header,
nav,
article,
aside,
section,
footer,
aside,
img {
    border-radius: 15px;
    display: block;
    border: 1px solid steelblue;
    padding: 10px;
}

header {
    background-color: red;
}

nav {
    float: left;
    width: 20%;
    background-color: yellow;
}

article {
    background-color: #66FFFF;
    width: 80%;
}

aside {
    float: right;
    width: 20%;
    background-color: yellow;
}

footer {
    clear: both;
    background-color: #99FF66;
}

img {
    box-shadow: 10px 5px 5px red;
}