/* la mise en page de mon site*/

body,
html {
    font-family: 'erick', cursive;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    font-size: 17px;
}


/* la police de ma page */

@font-face {
    font-family: 'erick';
    src: url("../font/MuseoModerno-Regular.ttf");
}


/* barre de navigacion */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 33%;
    text-align: center;
    background: rgb(55, 49, 65);
}

section article {
    width: 90%;
}


/* Mon footer */

footer {
    text-align-last: center;
}