body {
    margin: 0px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

header h1 {
    text-align: center;
}

.marque1 {
    display: block;
}

h4 {
    background-color: red;
}