body {
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

header h1 {
    text-align: center;
}

section {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section figure {
    border: 1px solid red;
}

section figure img {
    min-width: 360px;
    max-width: 800px;
}

section figure figcaption {
    opacity: 0;
}

section figure:hover img {
    text-align: center;
    font-size: 2em;
    opacity: 0.5;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

section figure:hover figcaption {
    text-align: center;
    font-size: 2em;
    opacity: 0.5;
    position: relative;
}