/* la mise en page de mon site*/

body,
html {
    font-family: 'erick', cursive;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    font-size: 17px;
    box-sizing: border-box;
}


/* la police de ma page */

@font-face {
    font-family: 'erick';
    src: url("../font/MuseoModerno-Regular.ttf");
}

h1 {
    text-align: center;
}


/* paragraphe */


/* barre de navigacion */

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    width: 33%;
    text-align: center;
    background: rgb(55, 49, 65);
    height: 60px;
    line-height: 60px;
    font-size: 1.4em;
    transition: all 400ms ease-in-out;
}

nav ul li:hover {
    background-color: rgb(91 75 116);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

section {
    display: table;
    /* border: 1px solid white; */
}

article {
    display: table-row;
    width: 90%;
}

section article:nth-child(even) {
    background-color: #255, 255, 255, 0.2;
}

article p {
    display: table-cell;
    width: 70%;
    padding: 10px;
    text-align: left;
}

img {
    display: table-cell;
    max-width: 500px;
    max-height: 500px;
    padding: 10px;
}